*{
    margin: 0px;
    padding: 0px;
}
body{
    background:gray;
}


.card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
    }



.btn{
    background: black;
    border-color: aqua;
    
}

footer{
    background-color: black;
color: bisque;
padding: 1em;
justify-content: end;
display: flex;
}
